<ul>
    <li>
      Автор: <a
            href="{% url 'posts:profile' post.author %}">{{ post.author|stringformat:"username" }}</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text|linebreaksbr }}</p>
  {% if not group and post.group %}
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
    <br>
    <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы {{ post.group }}</a>
  {% endif %}
  {% if post.author == request.user %}
    <a href="{% url 'posts:post_edit' post.id %}">Редактировать пост</a>
  {% endif %}